<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/anki"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quikflash"
        tools:targetApi="31">
        <activity
            android:name=".NotifyActivity"
            android:exported="false" />
        <activity
            android:name=".FinishedActivity"
            android:exported="false" />
        <activity
            android:name=".ViewCards"
            android:exported="false" />
        <activity
            android:name=".AddCards"
            android:exported="false" />
        <activity
            android:name=".InsertActivity"
            android:exported="false" />
        <activity
            android:name=".ModifyActivity"
            android:exported="false" />
        <activity
            android:name=".StudyActivity"
            android:exported="false"
            android:label="@string/title_activity_study"
            android:theme="@style/Theme.Quikflash" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>